@font-face {
  font-family: "Quick";
  src: url(/src/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  grid-template-columns: 1fr 7fr;
}

button {
  transition: all 300ms ease-in;
}

.menu-content > span::after {
  display: inline-flex;
  position: absolute;
  right: -10px;
  transform: rotate(90deg);
  font-weight: bold;
  color: #9e9e9e;
}

.sidebar-active {
  grid-template-columns: 1fr 2fr;
}

.alert-background {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.hero > div:last-child {
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid red; */
}

@media screen and (max-width: 620px) {
  nav {
    grid-template-columns: 1fr 1fr;
  }

  nav > .menu {
    justify-self: flex-end;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
